{layout $presenter::getCoreLayout()}
{block #bodyTag}<body class="hold-transition sidebar-mini skin-red">{/block}
{block #bodyContent}

<div class="wrapper">
    <header class="main-header">
        <a href="{plink $dest['adminHomepage']}" class="logo">
            <span class="logo-mini">{$meta['nameShort']}</span>
            <span class="logo-lg">{$meta['name']}</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="javascript:;" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {if $admin['notifications']}
                        {control $admin['notifications']}
                    {/if}
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {if $user->identity->image}
                                <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            {/if}
                            <span class="hidden-xs">{$user->identity->username}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                {if $user->identity->image}
                                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                {/if}
                                <p>
                                    {$user->identity->username}
                                    <small>{_admin.member_since} {$user->identity->registered|date:'d.m.Y'}</small>
                                </p>
                            </li>
                            {if $admin['userDetail']}
                                {control $admin['userDetail']}
                            {/if}
                            <li class="user-footer">
                                {if $dest['userProfile']}
                                    <div class="pull-left">
                                        <a href="{plink $dest['userProfile'], id => $user->getId()}" class="btn btn-default btn-flat">{_admin.profile}</a>
                                    </div>
                                {/if}
                                <div class="pull-right">
                                    <a href="{plink :Sign:out}" class="btn btn-default btn-flat">{_admin.logout}</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    {if $admin['sidebar']}
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    {/if}
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            {if $admin['search']}
                {control $admin['search']}
            {/if}
            {control menu}
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {include #title}
                {ifset #description}
                    <small>{include #description}</small>
                {/ifset}
            </h1>
            {control breadcrumb}
        </section>
        <section class="content container-fluid">
            {include $presenter->getFlashArea()}
            {include #content}
        </section>
    </div>
    {if $admin['sidebar']}
        {control $admin['sidebar']}
    {/if}
</div>
