services:
    - Nepttune\AdminRouterFactory
    router: @Nepttune\AdminRouterFactory::createSubdomainRouter

    - Nepttune\Model\Authenticator
    authenticator: @Nepttune\Model\Authenticator

    loginForm:
        class: Nepttune\Component\LoginForm(%redirectSignIn%)
    breadcrumb:
        class: Nepttune\Component\Breadcrumb
    menu:
        class: Nepttune\Component\ConfigMenu(%configMenu%)

    userForm:
        class: Nepttune\Component\UserForm
    userList:
        class: Nepttune\Component\UserList
        
    roleForm:
        class: Nepttune\Component\RoleForm
    roleList:
        class: Nepttune\Component\RoleList

    - Nepttune\Model\LoginLogModel
    - Nepttune\Model\RoleModel
    - Nepttune\Model\UserRoleModel

parameters:
    dest:
        adminHomepage: ':Admin:Default:default'
        userProfile: ':Admin:Profile:view'   # false or dest
        signOut: ':Admin:Sign:out'
        signIn: ':Admin:Sign:in'

    redirectSignIn: ':Admin:Default:default'
    redirectSignOut: ':Admin:Sign:in'
    
    configMenu:
        Menu:
            user:
                name: 'Users'
                icon: 'user'
                dest: ':Admin:User:default'
            role:
                name: 'Roles'
                icon: 'bolt'
                dest: ':Admin:Role:default'
