services:
    - Nepttune\AdminRouterFactory
    router: @Nepttune\AdminRouterFactory::createSubdomainRouter

    - Nepttune\Model\LoginLogModel
    - Nepttune\Model\RoleModel
    - Nepttune\Model\UserRoleModel
    - Nepttune\Model\Authenticator
    authenticator: @Nepttune\Model\Authenticator

    - App\AdminModule\Presenter\SignPresenter(%redirectSignOut%)

    - Nepttune\Component\IBreadcrumbFactory
    - Nepttune\Component\IUserFormFactory
    - Nepttune\Component\IUserListFactory
    - Nepttune\Component\IRoleFormFactory
    - Nepttune\Component\IRoleListFactory
    loginFormFactory:
        implement: Nepttune\Component\ILoginFormFactory
        arguments:
            - '%redirectSignIn%'
    configMenuFactory:
        implement: Nepttune\Component\IConfigMenuFactory
        arguments:
            - '%configMenu%'

decorator:
    Nepttune\Presenter\BaseAuthPresenter:
        setup:
            - injectAdminParameters(%admin%)

parameters:
    dest:
        adminHomepage: ':Admin:Default:default'
        userProfile: ':Admin:Profile:view'   # false or dest
        signOut: ':Admin:Sign:out'
        signIn: ':Admin:Sign:in'

    admin:
        notifications: false
        userDetail: false
        search: false
        sidebar: false

    redirectSignIn: ':Admin:Default:default'
    redirectSignOut: ':Admin:Sign:in'
    
    configMenu:
        Menu:
            user:
                name: 'Users'
                icon: 'user'
                dest: ':Admin:User:default'
            role:
                name: 'Roles'
                icon: 'bolt'
                dest: ':Admin:Role:default'
