services:
    - Nepttune\AdminRouterFactory
    router: @Nepttune\AdminRouterFactory::createSubdomainRouter

    - Nepttune\Model\Authenticator
    authenticator: @Nepttune\Model\Authenticator

    loginForm:
        class: Nepttune\Component\LoginForm
    breadcrumb:
        class: Nepttune\Component\Breadcrumb
    menu:
        class: Nepttune\Component\ConfigMenu(%configMenu%)

    userForm:
        class: Nepttune\Component\UserForm
    userList:
        class: Nepttune\Component\UserList
        
    roleForm:
        class: Nepttune\Component\RoleForm
    roleList:
        class: Nepttune\Component\RoleList

    - Nepttune\Model\LoginLogModel
    - Nepttune\Model\RoleModel
    - Nepttune\Model\UserRoleModel

parameters:
    destAuthHomepage: ':Admin:Default:default'
    destUserProfile: ':Admin:Profile:view'   # false or dest
    
    destSignIn: ':Nepttune:Sign:in'
    destSignOut: ':Nepttune:Sign:out'
    redirectSignIn: ':Admin:Default:default'
    redirectSignOut: ':Nepttune:Sign:in'
    
    configMenu: [
        user:
            name: 'Users'
            icon: 'user'
            dest: ':Nepttune:User:default'
        role:
            name: 'Roles'
            icon: 'bolt'
            dest: ':Nepttune:Role:default'
    ]
  
