# This file is part of Nepttune (https://www.peldax.com)
#
# Copyright (c) 2018 Václav Pelíšek (info@peldax.com)
#
# This software consists of voluntary contributions made by many individuals
# and is licensed under the MIT license. For more information, see
# <https://www.peldax.com>.

parameters:
    dest:
        adminHomepage: ':Admin:Default:default'
        userProfile: ':Admin:Profile:view'   # false or dest
        signIn: ':Admin:Sign:in'
        signOut: ':Admin:Sign:out'

    admin:
        notifications: false
        userDetail: false
        search: false
        sidebar: false
