parameters:
    dest:
        adminHomepage: ':Admin:Default:default'
        userProfile: ':Admin:Profile:view'   # false or dest

    admin:
        notifications: false
        userDetail: false
        search: false
        sidebar: false

    adminModule: 'admin'

    configMenu:
        Menu:
            user:
                name: 'Users'
                icon: 'user'
                dest: ':User:default'
            role:
                name: 'Roles'
                icon: 'bolt'
                dest: ':Role:default'
