services:
    - Nepttune\AdminRouterFactory
    router: @Nepttune\AdminRouterFactory::createSubdomainRouter('%adminModule%')

    - Nepttune\Model\LoginLogModel
    - Nepttune\Model\RoleModel
    - Nepttune\Model\UserRoleModel
    - Nepttune\Model\SubscriptionTypeModel
    - Nepttune\Model\UserSubscriptionTypeModel
    - Nepttune\Model\Authenticator
    authenticator: @Nepttune\Model\Authenticator

    - Nepttune\Component\IBreadcrumbFactory
    - Nepttune\Component\IUserFormFactory
    - Nepttune\Component\IUserListFactory
    - Nepttune\Component\IRoleFormFactory
    - Nepttune\Component\IRoleListFactory
    - Nepttune\Component\ILoginFormFactory
    configMenuFactory:
        implement: Nepttune\Component\IConfigMenuFactory
        arguments:
            - '%configMenu%'

decorator:
    Nepttune\Presenter\BaseAuthPresenter:
        setup:
            - injectAdminParameters(%admin%)

translation:
    dirs:
        - '%appDir%/../vendor/nepttune/admin/lang'
