# This file is part of Nepttune (https://www.peldax.com)
#
# Copyright (c) 2018 Václav Pelíšek (info@peldax.com)
#
# This software consists of voluntary contributions made by many individuals
# and is licensed under the MIT license. For more information, see
# <https://www.peldax.com>.

services:
    routerFactory: Nepttune\AdminRouterFactory
    - Nepttune\Model\Authenticator
    - Nepttune\Model\Authorizator
    authenticator: @Nepttune\Model\Authenticator

    - Nepttune\Model\LoginLogModel
    - Nepttune\Model\UserModel
    - Nepttune\Model\UserAccessModel
    - Nepttune\Model\SubscriptionTypeModel
    - Nepttune\Model\UserSubscriptionTypeModel

    - Nepttune\Component\IUserFormFactory
    - Nepttune\Component\IUserListFactory
    - Nepttune\Component\ILoginFormFactory
    breadCrumbFactory:
        implement: Nepttune\Component\IBreadcrumbFactory
        arguments:
            - @routerFactory
    configMenuFactory:
        implement: Nepttune\Component\IConfigMenuFactory
        arguments:
            - '%configMenu%'

decorator:
    Nepttune\Presenter\BaseAuthPresenter:
        setup:
            - injectAdminParameters(%admin%)
    Nepttune\TI\IRestricted:
        setup:
            - injectRestricted

translation:
    dirs:
        - '%appDir%/../vendor/nepttune/admin/lang'
