# This file is part of Nepttune (https://www.peldax.com)
#
# Copyright (c) 2018 Václav Pelíšek (info@peldax.com)
#
# This software consists of voluntary contributions made by many individuals
# and is licensed under the MIT license. For more information, see
# <https://www.peldax.com>.

member_since: 'Členem od'
profile: 'Profil'

login: 'Přihlásit'
logout: 'Odhlásit'

username: 'Uživatelské jméno'
password: 'Heslo'
password_again: 'Heslo znovu'
role_id: 'Role'

flash:
    sign_in: 'Uživatel úspěšně přihlášen.'
    sign_out: 'Uživatel úspěšně odhlášen.'

sign:
    in:
        title: 'Přihlášení'
user:
    default:
        title: 'Uživatelé'
        description: 'Zde se nachází přehled uživatelů.'
    add:
        title: 'Přidání uživatele'
        description: 'Zde můžete přidat uživatele.'
    edit:
        title: 'Editace uživatele'
        description: 'Zde můžete upravit informace o uživateli.'
        
role:
    default:
        title: 'Role'
        description: 'Zde se nachází přehled rolí.'
    add:
        title: 'Přidání role'
        description: 'Zde můžete přidat roli.'
    edit:
        title: 'Editace role'
        description: 'Zde můžete upravit nastavení role.'
    duplicate:
        title: 'Duplikování role'
        description: 'Zde tvoříte novou roli z kopie jiné role.'

breadcrumb:
    home: 'Domov'
    user: 'Uživatelé'
    add: 'Přidání'
    edit: 'Editace'
    detail: 'Detail'

error:
    user: 'Uživatel nenalezen.'
    password: 'Nesprávné heslo.'

